<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>User Ratings</title>
    <script src="/applyConfirm.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>User Ratings</h1>
    <h3>User's Favorite Pokemons</h3>
    <ol>
        
        <li><%= first %></li>
        <li><%= second %></li>
        <li><%= third %></li>
        <li><%= fourth %></li>
        <li><%= fifth %></li>
    </ol>
    <a href="/">POKEDEX</a>
    
</body>

</html>
